@page "/Demineur"

<h3 class="border-bottom border-danger w-75 mb-4 border-2">Demineur</h3>

<div class="d-flex flex-row gap-2">
    <div class="demineur">
        @foreach (DemineurCaseInfos c in _cases)
        {
            <DemineurCase Case="c" OnCaseSelected="OnCaseSelected" OnCaseFlaged="OnCaseFlaged" />
        }
    </div>

    <div>
        <p class="text-danger fw-bold m-0 p-0">@_bombeRestantes/@_NB_BOMBES Bombes</p>
        <p class="text-info m-0 p-0"> Alt + Click => Indiquer comme Bombe</p>

        @if (_isGameOver != null)
        {
            <div class="mt-4 text-center">
                @if (_isGameOver == true)
                {
                    <div class="alert-danger rounded">
                        <p class="h4 fw-bold">Vous Avez Perdu!</p>
                    </div>
                }
                else if (_isGameOver == false)
                {
                    <div class="alert-success rounded">
                        <p class="h4 fw-bold">Vous Avez Gagné!</p>
                    </div>
                }

                <button class="btn btn-primary" @onclick="StartNewGame">Nouvelle partie</button>
            </div>
        }
    </div>
</div>