.demineurCase {
    color: black;
    background-color: black;
    border: 1px solid gray;
}

.demineurCaseBombOn {
    color: black;
    background-color: firebrick;
    border: 1px solid gray;
}

.demineurCaseFlaged {
    color: black;
    background-color: orangered;
    border: 1px solid gray;
}

.demineurCaseOn {
    color: black;
    background-color: olivedrab;
    border: 1px solid gray;
}

.demineurCaseZeroOn {
    color: black;
    background-color: beige;
    border: 1px solid gray;
}

.demineurCase:hover {
    cursor: pointer;
}
