@using BlazorDemo.Enums
@if (Case is not null)
{
    <div class=@("d-flex justify-content-center align-items-center fw-bold " + SetClass()) @onclick="OnSelect">
        @if (Case.IsActive)
        {
            @if (Case.Etat == DemineurEtat.Bombe)
            {
                <span>B</span>
            }
            else
            {
                <span>@((int)Case.Etat)</span>
            }
        }
    </div>
}